@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";

a.active {
    background-color: #15803D;
    color: white;
}
body {
    background-color: rgb(237, 237, 237);
    font-family: "Inter", sans-serif;
}
/* a .notActive {
    /* className="mb-2 btn py-2 px-3 w-full" */
    /* margin-bottom: 8px;
    padding: 8px 12px 8px 12px;

}*/