@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";

.active {
    color: #facc15;
}

.activ {
    background-color: #facc15;
}

.none {
    background-color: #15803d;
}

body {
    background-color: rgb(237, 237, 237);
    font-family: "Inter", sans-serif;
}

.btns:hover {
    position: relative;
    background: #15803d;
    border-radius: 24px;
    cursor: pointer;
    overflow: hidden;
    font-size: 1em;
    transition: 0.5s;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: white;
}